* {
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
  
}
#Movie-Details-Section{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin: 3rem 8.5rem;
    
}
#Left-Sections{
    display: flex;
    flex-direction: column;
    width: 78%
}

#Staring-Section{
    box-sizing: border-box;
    background-color: #2C3E50;
    border-radius: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}
#Star-Cards-Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.Staring-SectionTitle{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white ;
    margin-bottom: 2rem;
}

.Star-Cards{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/ba.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius:0.75rem;
    background-color: black;
    height: 9rem;
    width: 14rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem;
    ;
}




#Reviews-Section{
    display: flex;
    flex-direction: column;
    background-color: #2C3E50;
    margin-top: 3rem;
    border-radius: 0.75rem;
    margin-bottom: 4rem;
   
}

#Reviews-Title-Section{
    margin: 1rem 2rem;
    color: white;
    font-size: 1.25rem;
}
#Reviews-Cards-Section{
    display: flex;
    flex-direction: column;
    margin-left:2rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.CommenterName{
    color:white;
    font-weight: 600;
    font-size: 1.2rem;
}
.commentRate{
    background-color: #1E2935;
    border-color: black;
    border-radius: 12px;
    border-width: 3px;
    color: #999999;
    padding: 0.25rem 0.6rem;
}
.commentsGroup{
    display: flex;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 1rem;
}
.comment{
    
    color: #999999;
    width:15rem;
height: 12rem;
font-size: 5rem;
display: flex;
flex-direction: column;
justify-content: space-around;
background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-size: 0.9rem;
    background-image: url("../assets/ba.jpg");
    border-radius: 8px;
    border-color: black;
    border-width: 3px;
    padding: 0.8rem 1rem;
    margin: 0.5rem;
}
#Review-Submit{
    display: flex;
    padding: 0rem ; 
    justify-content: space-around;
    align-items: center;
   flex-wrap:wrap;
   margin: 2rem;
   width: 44rem;
}
#Add-Review-Button{
    height: 4rem;
    width: 9rem;
    border: none;
    border-radius: 12px;
    background-color: #1E2935;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0rem;

}
#Add-Review-Button img{
    width: 0.2rem;
    height: 1.7rem;
}
#Review-Submit #Review-Text-Field{
    background-color: #ffffffc1;
    color: black;
    padding: 0.2rem 0.4rem;
    border-radius: 12px;
    width: 25rem;
    height: 5rem;
    margin-right: 0rem;;
}
#right-part{
    display: flex;
    flex-direction: column;
    color: white;
    background-color:#2C3E50;;
    border-radius: 12px;
    align-items: start;
    padding: 1rem 2rem;
    width: 20%;
    
}
.released{
    display: flex;
    font-weight: 500;
    font-size: 1.1rem;
}
.released p{
    margin-left: 1rem;
}
.releaseProduction{
    margin-left: 2rem;
    color: #ffffffc1;
    margin-bottom: 1rem;
}
.rateofrightsection{
    margin-left: 2rem;
    color: #ffffffc1;
    margin-bottom: 1rem;
}
.directorName{
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 2rem;
    color: #ffffffc1;
}
.director{
    margin-left: 2rem;
    color: #ffffffc1;
    margin-bottom: 1rem;
}
.delete-comment{
    border-radius: 0.75rem;
    background-color: #ffffff9d;
    font-weight: 700;
    padding: 0.5rem;
    border-width: 0rem;
    display: inline-block;
    margin-left:0.5rem ;
    margin-right: 0.5rem;
    cursor: pointer;
    width: 8rem;
}
.edit-comment{
    border-radius: 0.75rem;
    background-color: #ffffff;
    font-weight: 700;
    padding: 0.5rem;
    border-width: 0rem;
    margin-left:0.5rem ;
    margin-right: 0.5rem;
    cursor: pointer;
    width: 8rem;
}
#buttons{
    padding: 0rem;
    display: flex;
    justify-content: end;
}
@media(max-width:1300px){
    #Movie-Details{
        width: 100%;
      
        margin-top: 1rem;
    }
   
}
 @media (max-width:750px){
    #Review-Submit{
        width:15rem;
    }
    #Add-Review-Button{
        height: 4rem;
        width: 10rem;
        border: none;
        border-radius: 12px;
        background-color: #1E2935;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 3rem;
    
    }
    #Review-Submit #Review-Text-Field{
        background-color: #ffffffc1;
        color: black;
        padding: 0.2rem 0.4rem;
        border-radius: 12px;
        width: 30rem;
        height: 5rem;
    }
} 
 /* Default styles */

/* Media query for tablets and small desktops */
@media (max-width: 1024px) {
    #Movie-HeroSection {
        margin: 0 3rem;
    }

    /* #Movie-Details {
        width: 100%;
        height: auto;
        padding: 3rem;
    } */

    #Movie-Title-Description {
        padding-bottom: 2rem;
    }

    #Play-Button {
        margin-bottom: 3rem;
    }

    /* #Movie-Details-Section {
        /* flex-direction: column; */
        /* margin: 3rem;
    }  */

    #Left-Sections {
        width: 100%;
    }

    #Reviews-Section {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #Reviews-Title-Section {
        margin: 2rem;
        /* font-size: 1.5rem; */
    }

    

    #Button-Controls {
        margin: 2rem;
    }

    #Review-Submit {
        width: 95%;
        margin: 2rem;
    }

    #Add-Review-Button {
        margin-left: 0;
        width: 55%;
    }

    #Review-Submit #Review-Text-Field {
        width: 95%;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    #right-part {
        width: 100%;
        margin-top: 3rem;
        font-size: 1.7rem;
    }
    #right-part .directorName {
        font-size: 1.9rem;
    }
    .fa-calendar-days {
        font-size: 1.9rem;
    }
}
